# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.vscode/
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/
*.class
*.log
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# OS
.DS_Store
Thumbs.db
